<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Damnun's Django blog</title>
    </head>

    <body>
        <div>
            <h1>
                <a href="">Django Damnun Blog</a>
            </h1>
        </div>

        <div>
            <p>published: 10.04.2022, 10:39</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>

        <div>
            <p>published: 10.04.2022, 10:40</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>

        <p>Hi there!</p>
        <p>It works!</p>
    </body>

</html>